@font-face {
    font-family: 'SunnyspellsRegular';
    src: url('../SunnyspellsRegular-MV9ze.otf');
  }
  body {
    background-color: aqua;
    font-family: 'CustomFont', SunnyspellsRegular;
  }
  #alphabet {
font-family: SunnyspellsRegular;
display: inline-grid;
column-gap: 50px;


  }
  #grid-container {
    display: grid;
    grid-template-columns: 10px 10px 10px 10px;
    grid-template-rows: auto 10px auto;
  }